<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table class:'table align-middle'>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Character class</th>
      <th scope="col">Level</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.character_class %></td>
        <td><%= character.level %></td>
        <td><%= character.description %></td>
        <td><%= button_to 'Show', character, class: 'btn btn-primary' %></td>
        <td><%= button_to 'Edit', edit_character_path(character), class: 'btn btn-info' %></td>
        <td><%= button_to 'Destroy', character, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
