<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class = "d-flex flex-row justify-content-center bg-primary bg-gradient rounded-top">
    <div class= "p-2 text-light fs-2 fw-bold text-uppercase">
      <%= @character.name %>
    </div>
  </div>

  <div class= "d-flex flex-row justify-content-evenly border border-primary border-2 rounded-bottom">
    <div class= "p-2 fs-4 text-capitalize">
      <strong>Character Class:</strong>
      <%= @character.character_class %>
    </div>

    <div class="p-2 fs-4">
      <strong>Level:</strong>
      <%= @character.level %>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center text-light bg-dark bg-gradient rounded-top">
    <div class= "h3 text-center text-uppercase fs-2"><strong>Description</strong></div>
  </div>
  <div class="d-flex flex-row justify-content-evenly bg-light bg-gradient border border-2 rounded-bottom">
    <div class= "p-2 text-wrap fs-4">
      <%= @character.description %>
    </div>
  </div>
</div>
<br>
<div class="d-flex flex-row justify-content-evenly">
  <% if user_signed_in? && current_user.id == @character.user_id %>
  <%= link_to 'Edit this character', edit_character_path(@character), class: 'btn btn-info', style: "color:white" %>
  <% end %>
  <%= link_to 'Back to Character List', characters_path, class: 'btn btn-secondary', style: "color:white" %>
</div>
